/* 
LOGO COLOR:#2D283D
*/
@font-face {
  font-family: "Yekan";
  src: url(../Fonts/YekanBakh-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Yekan";
  background-color: #f7f8f7;
  font-size: 16px;
  overflow-x: hidden;
}
header {
  background-color: #fff;
}
.wrapper {
  max-width: 98%;
  margin: 0 auto;
  padding: 0 30px;
}
.navbar {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
}
/* NAVBAR */
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.nav-menu li img {
  width: 80%;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

.toggle-button .bar {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #2d283d;
  border-radius: 10px;
  margin-top: 3px;
}

/* LOGO */
.logo {
  padding: 20px;
  color: #2d283d;
  font-size: 2.4rem;
  font-weight: 400;
}
.logo-time {
  color: #f8c030;
}

.date-time {
  /*  padding: 30px; */

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.date-time li {
  padding: 0 8px;
  font-size: 18px;
  color: #373341;
}

.moon {
  border-right: #e3e3f1 1px solid;
  padding: 10px;
}

/* SLIDE SHOW */
.carousel-item {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.carousel-item.active {
  display: flex;
  justify-content: center;
}
.carousel-control-next,
.carousel-control-prev {
  width: 50px;
  top: -18px;
  opacity: 1;
}

.title {
  color: #2d283d;
}
.profit {
  color: green;
}
.lost {
  color: red;
}

.content {
  flex-direction: row;
  align-items: center;
  list-style: disc;
  padding: 10px;
}

.card {
  border: none;
}
.card-content > span {
  font-size: 80%;
}
.card-content span:nth-child(1) > span {
  margin: 0 5px 0 0;
}
.header-partition {
  background-color: #f7f8f7;
  border: none;
}
/* TABLES */
.table-container {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: rwo;

  gap: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 15px;
}

.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: right;
  font-size: 1rem;
}
.table thead th {
  /* border: none; */
  text-align: right;
}

.table tbody tr td:nth-child(3) {
  text-align: left;
}
.table tbody tr td:nth-child(2) {
  text-align: left;
}
thead span {
  margin-right: 10px;
}
.chart-2-container table:nth-child(2) tbody td:nth-child(4) {
  text-align: left;
  color: blue;
}
.chart-2-container table:nth-child(2) tbody td:nth-child(4) span {
  padding-left: 10px;
}
.chart-2-container table:nth-child(1) tbody td:nth-child(2) {
  text-align: center;
}
.table {
  font-weight: 500;
}

/* Trading View */
.trading {
  padding-top: 1.2rem;
  /*  max-width: 1150px; */
  margin: 0 auto;
}
.wrapper-color {
  background-color: white;
  border-radius: 15px;
}

/* BANNERS */

.banner-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.8em;
  padding-top: 1.5rem;
}

.banner {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 220px;
}
.blue-banner {
  background-color: #5b6af4;
}
.yellow-banner {
  background-color: #e1b33d;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  color: #fff;
  gap: 10px;
}
.banner-text h3 {
  line-height: 2rem;
  font-size: 1.5rem;
}
.banner-text p {
  font-size: 0.9rem;
  width: 80%;
  text-align: justify;
}

.banner img {
  width: 12rem;
}

.banner a {
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
.blue-banner a {
  background-color: #5661bb;
}
.yellow-banner a {
  background-color: #b5923b;
}
/* Charts 2 */
.chart-2-container {
  gap: 2rem;
}
.chart-2-container table th {
  padding-right: 1rem;
}

/* Footer */
.footer {
  background-color: #fff;
  padding: 10px;
  padding: 2rem 0;
}
.footer-container {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-item {
  flex: 1;
  align-self: center;
}
.content-1 {
  text-align: justify;
  font-size: 0.9rem;
}
.content-2 {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
}
.content-2 ul {
  list-style: none;
  font-weight: bold;
  line-height: 2rem;
  font-size: 1rem;
}
.content-3 {
  background-color: #f7f8f7;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
}
.content-3 img {
  max-width: 100px;
}
.search-news-form {
  display: flex;
  border: 1px solid #eeeefa;
  background-color: #fff;
}
.search-news-form input[type="text"] {
  outline: none;
  border: none;
  width: 100%;
  padding: 2px;
  min-height: 40px;
}
.search-news-form button {
  height: 30px;
  display: block;
  margin: auto 0 auto 5px;
  border-radius: 0.4em;
  border: none;
  padding: 0 15px;
  color: #fff;
  font-weight: bold;
  background-color: #f5c038;
}

/* Media Queries */
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }
  .navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 28%;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .nav-menu li {
    text-align: center;
    width: 15%;
  }
  .nav-menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .nav-menu li img {
    width: fit-content;
    margin-bottom: 10px;
  }
  .nav-link img {
    padding: 0.5rem 1rem;
  }
  .nav.active {
    display: flex;
  }
  .logo {
    margin: 0 auto;
    padding: 10px;
  }
  .date-time {
    display: none;
  }
  .table-container {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner img {
    display: none;
  }
  .banner-text {
    flex-direction: column;
    align-items: center;
    min-height: 280px;
    padding-right: 0;
  }
  .banner-text h3 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table tbody tr td:nth-child(3) {
    text-align: right;
  }
  .table tbody tr td:nth-child(2) {
    text-align: right;
  }
  .table tbody tr td:first-child {
    font-weight: bold;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
